<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Followers</title>
  </head>
  <body>
    <h2>All followers</h2>
    <% for( let foll of user.followers ) { %>
    <ul>
      <li>
        <a href="/users/<% foll.username %>"><% foll.username %></a>
      </li>
    </ul>
    <% } %>
    <a href="/users/<%= user.username %>">Back</a>
  </body>
</html>
