<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All users</title>
  </head>
  <body>
    <% if(!currentUser) { %>
    <h2><a href="/users/new">Register</a></h2>
    <h2><a href="/users/login">Login</a></h2>
    <% } %>

    <ul>
      <% for(let user of users) { %>
      <li><a href="/users/<%=user._id%>"> <%= user.username %> </a></li>
      <% } %>
    </ul>
  </body>
</html>
