<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Make new post</title>
  </head>

  <body>
    <h1>New post</h1>

    <form action="/posts" method="POST">
      <label for="body">Enter post body</label>
      <textarea id="body" cols="30" rows="10" name="body"></textarea>
      <button>Submit</button> <br />
      <a href="/posts">Cancel</a>
    </form>
  </body>
</html>
